<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applex.fightcovid_19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".workplace" />
        <activity android:name=".WorkHome"/>
        <activity android:name=".basicprotection"/>
        <activity android:name=".healthyparenting" />
        <activity android:name=".Repeating_activity"/>
        <receiver android:name=".Notification_receiver"/>
        <activity android:name=".myth" />
        <activity android:name=".statistics" />
        <activity android:name=".twitter" />
        <activity android:name=".children" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mask" />
        <activity android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>